.SkinTitle {
    text-align: center;
    color: #000;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 4rem;
}

.Skin {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    width: 80%;
    max-width: 1600px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    grid-gap: 40px;
    padding-bottom: 60px;
}

.SkinName {
    font-size: 2rem;
}

.SkinCard {
    background-color: #ccc;
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .Skin {
        grid-template-columns: 500px;
    }
}

@media screen and (max-width: 768px) {
    .Skin {
        grid-template-columns: 300px;
    }
}

.SkinImg {
    padding: 10px;
}

.SkinCmd {
    display: flex;
    background-color: #eee;
    height: 4rem;
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: scroll;
    padding: 0rem 1rem;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SkinCmd::-webkit-scrollbar {
    display: none;
}